body {
	font-family: "Lucida Grande", "Helvetica Neue", HelveticaNeue, Helvetica, sans-serif, Verdana, Arial;
	font-size:90%;
	margin:0;
	background-color: #b0c4de; 
}
* {  -moz-border-radius: 5px;
     -webkit-border-radius: 5px; }
a:link {text-decoration:none;color:#00008b;} 
a:active {text-decoration:none;color:#00008b;}
a:visited {text-decoration:none;color:#00008b;}
a:hover {text-decoration:underline;color:#00008b;}
li {	list-style-type:none; 
		border:solid 1px gray;
		margin:0 4px 1px -11px;
		padding:5px; 
		font-size:11px;
		cursor:move; 
		background:#e7e7e7; 
		text-shadow:1px 1px 1px #FFF;
}
li:hover { background:#FFF; 
}
ul {padding-left:1em;margin-left:0em;}
.pane ul {margin-bottom:4px;}
.pane {background-color:#87cefa; 
	   width:170px;
	   padding:5px; 
	   min-height:78px;
}
li span {font-weight:bold;
		 font-size:105%;
}
.unmovable {list-style-type:none;
			font-size:1px;
			padding:0px;
			margin:0px;
			border:none;
}
#head {	height:85px; 
		width:100%; 
		margin:0px;
		color:#EEE;
		text-shadow:-1px 1px 1px #FFF;
}
#head a { color: #00008b; 
		  text-decoration: none;
}
#head a:hover { color: #00008b; 
		  text-decoration: none;
}

div {
	float:left;
	background: #87cefa; 
	margin-right:5px;
	width:130px;
	border:1px solid #A52;
	margin-bottom:20px;
	
}
.containerTitle { 
	display:block;
	font-size:11px;
	font-weight:bold;
	padding:7px 5px;
	text-align:center;
	color: #00008b; 
	text-shadow:1px 1px 2px #FFF;	
	border-bottom: solid 1px #DDD;
	
}
.containerTitle2 { 
	display:block;
	font-size:20px;
	font-weight:lighter;
	padding:7px 5px;
	text-align:center;
	color: #00008b; 
	text-shadow:1px 1px 2px #FFF;	
	border-bottom: solid 1px #DDD;
	background: #87cefa; 
}
.containerTitle3 { 
	display:block;
	font-size:11px;
	font-weight:lighter;
	padding:5px 5px;
	text-align:left;
	color: #00008b; 
	text-shadow:1px 1px 2px #FFF;	
	border-bottom: solid 1px #DDD;
	background-color: #87cefa; 
}
#mixed {
	background: #add8e6; 
	width:255px;
	margin-right:30px;
	padding:10px;

}
#mixed2 {
	background: #FFFFFF;
	width:180px;
	margin-right:15px;
	padding:10px;
}
small { 
	background:wheat none repeat scroll 0 0;
	border:1px solid #000;
	display:block;
	font-size:11px;
	margin:7px 0;
	padding:6px;
}
#newVersion
{
	background:lightGreen none repeat scroll 0 0;
	border:1px solid green;
	color:green;
	display:block;
	font-weight:bold;
	margin-bottom:7px;
	margin-top:-14px;
	padding:8px 0;
	text-align:center;
	width:100%;
	font-size: 10px;
}
#hide {
	border-right:1px dotted;
	display:block;
	float:left;
	font-size:11px;
	height:27px;
	margin-right:7px;
	padding-right:5px;
	padding-top:7px;
}
h1 { font-size:20px;
	margin-bottom:-2px; 
	text-shadow:1px 1px 1px #FFF;
}
h1 span {
	font-size:20px;
}

a#fdbk_tab:hover {
	width:38px !important;
}

a#fdbk_tab {
color:#FFFFFF;
cursor:pointer;
height:102px;
left:0;
margin-left:-7px;
overflow:hidden;
position:fixed;
text-indent:-100000px;
top:50%;
width:42px;
z-index:100000;
}

a.fdbk_tab_right {
left:auto !important;
margin-left:auto !important;
margin-right:0 !important;
right:0 !important;
width:35px !important;
color:#669517;
outline-color:-moz-use-text-color;
outline-style:none;
outline-width:medium;
text-decoration:none;
}

#footer{
	clear:both;
	width:100%;
	margin:0;
	text-align: center;
	padding:5px;
	text-shadow:1px 1px 1px #FFF;
}
#menu, #menu3 {
	margin-left:15px;
	margin-right:15px;
	margin-top:10px;
	margin-bottom:10px;
	width:96%;
	color: #00008b; 
	text-align: center;
	padding:10px;
	
}
#menu2 {
	margin-left:15px;
	margin-right:15px;
	margin-top:0px;
	margin-bottom:5px;
	width:96%;
	text-align: center;
	padding:10px;
	
}
#menu a, #menu3 a {
	color : #6b006b; 
}

#menu a:hover, #menu3 a:hover {
	color : #ff00ff; 
}

#masterList {
	clear:both;
}
